---
import Layout from "../layouts/Layout.astro";
---
<Layout title="404, no encontrado">
    <main class="m-auto max-w-4xl grid min-h-screen place-content-center">
        <h1 class="font-black text-4xl text-center py-2">Lo rompiste, parguela</h1>
        <img src="https://gifdb.com/images/high/chaos-children-riot-at-home-south-park-66ud2f6a8zci1e4e.gif"/>
    </main>
</Layout>

