---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import ListOfAnimes from '../components/ListOfAnimes.astro';
---

<Layout title="Welcome to Astro.">
	<main class="m-auto max-w-4xl">
		<Title />
		<ListOfAnimes />
	</main>
</Layout>