---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import ListOfAnimes from '../components/ListOfAnimes.astro';
---

<Layout title="Jorge Animes">
	<main class="m-auto max-w-3xl">
		<Title />
		<ListOfAnimes />
	</main>
</Layout>